@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #fff;
  color: #101010;
}

main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: left;
}

#principal {
  width: auto;
  background-color: #f2bf16;
  border-radius: 10px;
  padding: 30px 10px;
  margin-top: 30px;
}


table {
  width: 100%;
  text-align: center;
  background-color: #e4e2db;
}

table thead {
  height: 20px;
  font-size: 18px;
  color: #000000;
}

table tbody {
  font-size: 18px;
  font-weight: 200;
  color: #000000;
  text-align: center;
}

table tbody tr {
  height: 74px;
  border-top: 1px solid #191a1b;
}

table tbody tr:hover>td {
  background-color: #abaaa2;
}


footer {
  margin-top: 30px;
  height: 220px;
  background: linear-gradient(180deg, #e4e2db 0%, #474545 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}