@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #000;
  color: #fff;
}

main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  height: 220px;
  background: linear-gradient(180deg, #102347 0%, #181818 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  background-color: #283142;
  border-radius: 10px;
  padding: 30px 10px;
  margin-top: 30px;
}

table {
  width: 100%;
  text-align: center;
}

table thead {
  height: 20px;
  font-size: 18px;
  color: #e9e9e9;
}

table tbody {
  font-size: 12px;
  font-weight: 200;
  color: #cfcfcf;
  text-align: center;
}

table tbody tr {
  height: 74px;
  border-top: 1px solid #5f6e82;
}

table tbody tr:hover>td {
  background-color: #676fff;
}

table tbody tr:nth-child(odd) {
  background-color: #007565;
}

footer {
  margin-top: 30px;
  height: 220px;
  background: linear-gradient(180deg, #102347 0%, #181818 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}