@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #fff;
  color: #101010;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: left;
}

#principal {
  width: auto;
  background-color: #e4e2db;
  border-radius: 10px;
  padding: 30px 10px;
  margin-top: 30px;
}

#home-section {
  padding: 30px;
  justify-content: right;
}

#login-section, #cadastro-usuario {
  background-color: #e4e2db;
  border-radius: 10px;
  padding: 30px 10px;
  margin-top: 30px;
}

#login-container {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

#cadastro-usuario {
  margin: auto;
  display: flex;
  justify-content: center;
}

#botao-adicionar-financa:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

table {
  margin: auto;
  width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
}

th, td {
  padding: 15px;
}

thead {
  font-size: 21px;
}

tbody {
  font-size: 18px;
}

table tbody tr:hover>td {
  background-color: #f2bf16;
}

footer {
  margin-top: 30px;
  height: 100px;
  background: linear-gradient(180deg, #e4e2db 0%, #474545 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}